<h1 class="title animated bounceInDown">{{ title }}</h1>
<table class="table">

  <ul class="animated flipInX" *ngIf="mode == 'list'">
    <p class="text-center" *ngIf="todos.length==0"><small>Você não tem nenhuma tarefa hoje!</small></p>
    <h1 class="text-center" *ngIf="todos.length!==0"><small>Tasks</small></h1>

    <li *ngFor="let todo of todos">

      <td>{{ todo.title }}</td><br>
      <td>{{ todo.date }}</td><br>
      <td>
        <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i></button>
        <button *ngIf="todo.done" (click)="remove(todo)"><i class="far fa-trash-alt"></i></button>
        <button *ngIf="todo.done" (click)="markAsUnDone(todo)"><i class="fas fa-check-circle"></i></button>
      </td>
    </li>

  </ul>
</table>

<div id="modal" *ngIf="mode == 'add'" class="animated flipInX">
  <form [formGroup]="form">

    <div id="color-form">
      <h1 class="text-center">Nova Tarefa</h1>

      <input type="text" placeholder="Título da Tarefa" maxlength="60" formControlName="title" />
      <input type="date" formControlName="date" />


      <small class="danger" *ngIf="form.controls.title.invalid && !form.controls.title.pristine">
        No mínimo 3 e Máximo de 60 caracteres<br />
      </small>

      <p class="center">

        <button class="button" [disabled]="form.invalid" (click)="add()" class="button">
          <i class="far fa-save"></i>
          Salvar
        </button>

      </p>

    </div>

  </form>

</div>

<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode == 'list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>

<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode == 'add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>
